@import '../../styles/variables';

.month {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.weeksWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.week {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.day {
  width: (100%/7);
  background-color: $light-gray;
  margin: 1px;
}

.emptyDay {
  width: (100%/7);
}

.game {
  display: flex;
  flex-direction: row;
}