@import '../../styles/variables';

svg:hover {
  cursor: pointer;
}

.calendarWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: white;
  z-index: 100;
  transition: all 0.3s ease;
  padding-top: $header-height;
  color: black;
}

.favoriteTeam {
  width: 4em;
  height: 4em;
}

.addTeamModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;

  .addTeamModal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    padding: 20px;

    display: flex;
    flex-direction: column;

    .modalHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-shrink: 0;
    }

    .teams {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: auto;
    }
  }
}

@media (max-width: 768px) {
  .sideBar {
    position: fixed;
    left: -100px;
    height: calc(100% - #{$header-height});
  }

  .sideBar.sideBarOpen {
    left: 0;
    -webkit-box-shadow: 10px 0 13px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 0 13px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 0 13px -10px rgba(0, 0, 0, 0.75);
  }

  .sideBarOpen {

  }

  .sideBarOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
}