@import '../styles/variables.scss';

.calendarWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.favorites {
  display: flex;
  justify-content: center;
  width: 5rem;
  color: white;
}

.month {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  text-transform: lowercase;
  position: relative;
}

.weeksWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.week {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.emptyDay {
  width: (100%/7);
  //border-left: 0.01em solid lightgray;
  //border-top: 0.01em solid lightgray;
}

.week:last-of-type {
  //border-bottom: 0.01em solid lightgray;
}

.week .day:last-of-type {
  //border-right: 0.01em solid lightgray;
}

.hook {
  top: -0.9em;
  width: 14px;
  height: 50px;
  position: absolute;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ececec;
  background: -moz-linear-gradient(right top, #fff, #827e7d);
  background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#827e7d));
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.65);
}

.leftHook {
  left: 15%;
}

.rightHook {
  right: 15%;
}

.favoriteTeam {
  width: 4em;
  height: 4em;
}

.addButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.75em;
  bottom: 0.75em;
  width: 3em;
  height: 3em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 100%;
  color: white;
  background: $secondary-color;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}