.day {
  width: (100%/7);
  //border-left: 0.01em solid lightgray;
  //border-top: 0.01em solid lightgray;
  background-color: #fafafa;
  margin: 1px;
}

.emptyDay {
  width: (100%/7);
}

@media (max-width: 768px) {
  .emptyDay {
    display: none;
  }

  .day {
    width: 100%;
    min-height: 40px;
    max-height: 40px;
  }
}